body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background-color: #000000;
    height: 75px;
    text-align: center;
}

.navbar-header {
    position: inherit;
    width: 130px;
    left: 12%;
    top: 10px;
}

.navbar-header img {
    width: inherit;
}

.navbar-items {
    position: inherit;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: inherit;
    top: 5px;
}

.navbar-items li {
    display: inline;
    margin-right: 6%;
}

.navbar-items li a {
    color: white;
    font-size: 12pt;
    text-decoration: none;
}